body{
    background:aqua ;
    box-sizing: border-box;
    margin:0;
    background: url("space.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.box1{
    width:400px;
    height:200px;
    background: rgba(255, 255, 255, 0.25);
    color:#fff;
    padding:18px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap:30px;

}
.container{
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap:150px;

}
.row{
    display: flex;
    justify-content: space-evenly;
    width:100%;   
}
.smallContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    color: #fff;
    font-size: 3rem;
}
.input{
    width: 200px;
    height:40px;
    padding:5px;
    background: rgba(138, 43, 226, 0.3);
    border: none;
}
.output{
    font-size: 2rem;

}
.comment{
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin-top: 15px;
    visibility: hidden;
}
.align{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
Button{
    border: none;
    width: 100%;
    heigh:40px;
    background: palegreen;
}

#head{
    font-size: 3rem;
    color:#fff;
}
@media screen and (max-width : 768px){
    
    *{
        margin:0;
    }
    body{

        background: url("space.jpg");
        background-size: /cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    #head{
        text-align: center;

    }
    .container{

        width: 100%;
        height:auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap:40px;  
        padding-top: 70px;
        padding-bottom:90px;

    }
    .box1{
        width:90%;
        height:145px;
        background: rgba(255, 255, 255, 0.25);
        color:#fff;
        padding:9px;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        gap:10px;
    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap:30px;
        
    }
    .header{
        font-size: 2rem;
    }
    .input{
        width: 60%;
    }
}